Repository stackitcloud/terraform-provider-stackit, pull requests merged in 2025-09, with the labels that each got.

#985 fix(deps): update stackit sdk modules
  go.mod
  go.sum
Labels: renovate

#988 fix(deps): update stackit sdk modules
  go.mod
  go.sum
  stackit/internal/services/objectstorage/credential/resource.go
  stackit/internal/services/objectstorage/credential/resource_test.go
Labels: renovate

#999 changed ipv4 prefix in resources loadbalancer.md to represent a working example
  docs/resources/loadbalancer.md
  examples/resources/stackit_loadbalancer/resource.tf
Labels: needs-work

#998 fix(deps): update module github.com/hashicorp/terraform-plugin-go to v0.29.0
  go.mod
  go.sum
Labels: renovate

#993 Add continue attribute for observability service in instance -> alert config
  docs/data-sources/observability_instance.md
  docs/resources/observability_instance.md
  stackit/internal/services/observability/instance/resource.go
  stackit/internal/services/observability/instance/resource_test.go
  stackit/internal/services/observability/observability_acc_test.go
  stackit/internal/services/observability/testdata/resource-max.tf
Labels: has internal tracking issue, needs-work

#1013 fix(deps): update module github.com/hashicorp/terraform-plugin-framework to v1.16.1
  go.mod
  go.sum
Labels: renovate
